.profile {
  min-height: 600px;
  max-width: 1000px;
  margin: 60px auto;
  display: flex;
  background: var(--bg-light, white);
  border: 2px solid var(--primary-color, cadetblue);
  border-radius: 10px;
  box-shadow: 0px 4px 8px var(--primary-color, cadetblue);
  flex-direction: column;
}

.profile-container {
  display: flex;
  justify-content: space-between;
}

.profile-container .profile-img {
  margin: -36px 36px 0 0;
  border: 2px solid var(--primary-color, cadetblue);
  box-shadow: 0px 3px 9px var(--primary-color, cadetblue);
}

@media (max-width: 1000px) {
  .profile {
    margin: 60px 16px;
  }
  .profile-container {
    flex-direction: column-reverse;
  }
  .profile-container .profile-img {
    margin: -39px 0 0 0;
    align-self: center;
  }
}
