.social-media {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  height: 100vh;
  width: 70px;
  align-items: center;
  justify-content: flex-end;
}

.social-media-icon {
  margin-bottom: 16px;
  color: var(--bg-light, white);
}

.social-media-vl {
  border-left: 2px solid var(--bg-light, white);
  height: 69px;
}
