.social-media {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  height: 100vh;
  width: 70px;
  align-items: center;
  justify-content: flex-end;
}

.social-media-icon {
  margin-bottom: 16px;
  color: var(--bg-light, white);
}

.social-media-vl {
  border-left: 2px solid var(--bg-light, white);
  height: 69px;
}

@media (max-width: 1200px) {
  .social-media {
    position: relative;
    flex-direction: row;
    height: 69px;
    width: 100%;
    justify-content: center;
  }

  .social-media-icon {
    margin: 8px;
  }
  .social-media-vl {
    display: none;
  }
}
