.aboutme {
  display: flex;
  flex-direction: column;
  margin: 36px;
  width: 63%;
}
.aboutme h1 {
  font-size: 3rem;
  color: var(--secondary-color, darkcyan);
}
.aboutme h2 {
  font-size: 2.6rem;
  font-weight: 500;
  color: var(--tertiary-color, darkcyan);
}
.aboutme p {
  margin-top: 36px;
  font-size: 2rem;
  color: var(--primary-color, darkcyan);
}
